# ==========================================
# Build / Release
# ==========================================
build/
dist/
release/
exports/

# Packaged game files
*.love
*.zip
*.exe

# love.js export
*-lovejs/
lovejs/

# ==========================================
# Operating System
# ==========================================
# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store

# Linux
*~

# ==========================================
# Editor
# ==========================================
.vscode/
.idea/

# Vim
*.swp
*.swo

# ==========================================
# Logs / Temp
# ==========================================
*.log
*.tmp
*.bak

# ==========================================
# Lua
# ==========================================
luac.out